@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

.quality-container {
    width: 100%;
    position: relative;
    margin: 105px auto 0;
    padding: 0;
}

.quality-section1 {
    background-image: url(../images/arcgate-bg.jpg);
    padding: 40px 0;
    background-position: center center;
}

.quality-content1 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.quality-content1 h2 {
    margin-bottom: 15px;
    font-size: 36px;
    color: #373435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.quality-content1 p {
    font-size: 24px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    line-height: 32px;
    text-align: center;
}


.quality-section3 {
    background: #ffffff;
    padding: 50px 0;
}

.quality-content3 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.quality-content3 .quality-div3 {
    padding: 0px 0 40px;
}

.quality-content3 .quality-div3 h1 {
    font-size: 36px;
    line-height: normal;
    padding: 0 20px 20px;
    text-align: center;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 400;
    margin: 0 auto;
}

.quality-content3 .quality-div3 h3 {
    line-height: 24px;
    font-size: 18px;
    color: #393435;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-content3 .quality-body3 {
    display: flex;
    justify-content: space-around;
}

.quality-content3 .quality-body3 .quality-left {
    width: 48%;
    margin-bottom: 50px;
    padding: 0 20px;
}

.quality-content3 .quality-body3 .quality-right {
    width: 48%;
    margin-bottom: 50px;
    padding: 0 20px;
}


.quality-content3 .quality-body3 .quality-left .quality-element3 .quality-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: #e8eded;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-content3 .quality-body3 .quality-right .quality-element3 .quality-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: #e8eded;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-content3 .quality-body3 .quality-left .quality-element3 .quality-icon img {
    width: auto;
    height: 48px;
}

.quality-content3 .quality-body3 .quality-right .quality-element3 .quality-icon img {
    width: auto;
    height: 48px;
}

.quality-content3 .quality-body3 .quality-left .quality-element3 h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
}

.quality-content3 .quality-body3 .quality-right .quality-element3 h2 {
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin-bottom: 10px;
    font-size: 20px;
}

.quality-content3 .quality-body3 .quality-left .quality-element3 h3 {
    text-align: center;
    font-weight: 400;
    margin: 10px auto;
    font-size: 18px;
    color: #393435;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    line-height: 24px;
}

.quality-content3 .quality-body3 .quality-right .quality-element3 h3 {
    text-align: center;
    font-weight: 400;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin: 0 auto;
    font-size: 18px;
    color: #393435;
    line-height: 24px;
}

.quality-content3 .quality-body3 .quality-element3 .quality-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: #e8eded;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-content3 .quality-body3 .quality-element3 .quality-icon img {
    width: auto;
    height: 48px;
}

.quality-content3 .quality-body3 .quality-element3 h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin: 0 auto;
}

.quality-content3 .quality-body3 .quality-element3 h3 {
    line-height: 24px;
    font-size: 18px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-content3 .quality-body3 .quality-element3 p {
    line-height: 24px;
    font-size: 18px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    width: 400px;
}

.quality-content3 p {
    line-height: 24px;
    font-size: 18px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-div2 .row-a {
    display: grid;
    width: 700px;
    margin-left: 101px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.quality-div2 .row-b {
    display: grid;
    width: 700px;
    margin-left: 101px;
    margin-top: -212px;
    grid-template-columns: repeat(3, 1fr);
}





.quality-content3 .quality3 .quality-left .quality-element3 .quality-icon img {
    width: auto;
    height: 48px;
}


.quality-content3 .quality3 .quality3-element3 .quality3-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: #e8eded;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-content3 .quality3 .quality3-element3 .quality3-icon img {
    width: auto;
    height: 48px;
}

.quality-content3 .quality3 .quality3-element3 h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin: 0 auto;
}

.quality-content3 .quality3 .quality3-element3 h3 {
    line-height: 24px;
    font-size: 18px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-content3 .quality3 .quality3-element3 p {
    line-height: 24px;
    font-size: 18px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-left .quality-list {
    background: #f8f8f8;
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    min-height: 335px;
}

.quality-left .quality-list ul {
    list-style: none;
    font-size: 18px;
    color: #393435;
    font-weight: 400;
    line-height: 36px;
}

.quality-left .quality-list ul li {
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    position: relative;
    padding-left: 40px;
}

.quality-right .quality-list {
    background: #f8f8f8;
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    min-height: 335px;
}

.quality-right .quality-list ul {
    list-style: none;
    font-size: 18px;
    color: #393435;
    font-weight: 400;
    line-height: 36px;
}

.quality-right .quality-list ul li {
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    position: relative;

    padding-left: 40px;
}

.quality-right .quality-list ul li:before {
    content: '';
    position: absolute;
    background-image: url(../images/tick-icon\ \(1\).png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    top: 0;
    left: 0;
    height: 35px;
}


.quality-left .quality-list ul li:before {
    content: '';
    position: absolute;
    background-image: url(../images/tick-icon\ \(1\).png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    top: 0;
    left: 0;
    height: 35px;
}

.quality-list-section {
    padding: 80px 0;
    background-color: #ededea;
    position: relative;
}

.quality-list-content {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.quality-list-body {

    margin: 0;
    padding: 0;
}

.quality-list-body h1 {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 40px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #000;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-list-section .list ul {
    display: flex;
    justify-content: flex-start;

    list-style: none;
    align-items: center;
}

.quality-list-body .list ul li {
    position: relative;
    flex-basis: 50%;
    max-width: 50%;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    padding-left: 20px;
    padding-right: 20px;
}


.quality-list-body .list ul li p {
    background-image: url(../images/tick-icon\ \(1\).png);
    background-position: 0 7px;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    padding-left: 35px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.team-section3 .team-content3 h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 400;
    margin: 0 auto;
    color: black;
}

.team-section3 .team-content3 h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-section6 {
    background-color: #f7e848;
    padding: 64px 0 70px;
}

.quality-div4 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.quality-div4 h2 {
    margin-bottom: 22px;
    font-size: 36px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #373435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.quality-div4 center {
    margin-bottom: 30px;
}

.quality-div4 center p {
    width: 100%;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    line-height: normal;
    font-size: 24px;
}

.quality-section6 .why-arcgate {
    margin-bottom: 56px;
    text-align: center;
}

.quality-section6 .why-arcgate p {
    transition-delay: 200ms;
    opacity: 1;
    margin: 28px 38px auto;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    display: inline-block;
    text-align: center;
}

.quality-section6 .why-arcgate img {
    max-height: 108px;
}

.quality-section6 .why-arcgate span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 5px
}

.button-div {
    text-align: center;
}

.link-button {
    color: #e85631;
    display: inline-block;
}

.link-button a {
    border-color: #7b7a68;
    color: #7b7a68;
    text-decoration-line: none;
}

.link-button-a {
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: inherit;
    font-size: 24px;
    padding: 8px 12px;
    display: inherit;
    min-width: 170px;
    border-radius: 10px;
    border: 3px solid #e85631;
}

.link-button-a:hover {
    color: #ebebeb;
    background-color: #7b7a68;
    ;
}



.team-section2 {
    background: #f0ebe3;
    padding: 50px 0;
}

.team-content2-1 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.team-content2-1 .team-div2 {
    padding: 0px 0 40px;
}

.team-content2-1 .team-div2 h1 {
    font-size: 36px;
    line-height: normal;
    padding: 0 20px 20px;
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

.team-content2-1 .team-div2 h3 {
    line-height: 24px;
    font-size: 18px;
    color: #393435;
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.team-content2-1 .team-content2 .team-body2 {
    display: flex;
    justify-content: space-around;
}

.team-content2-1-1ent2 .team-body2 .team-left {
    width: 48%;
    margin-bottom: 50px;
}

.team-content2-1 .team-body2 .team-right {
    width: 48%;
    margin-bottom: 50px;
}


.team-content2-1 .team-body2 .team-left .team-element .team-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-body2 .team-left .team-element .team-para p{
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
}

.team-body2 .team-right .team-element .team-para p{
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
}

.team-content2-1 .team-body2 .team-right .team-element .team-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-content2-1 .team-body2 .team-left .team-element .team-icon img {
    width: auto;
    height: 48px;
}

.team-content2-1 .team-body2 .team-right .team-element .team-icon img {
    width: auto;
    height: 48px;
}

.team-content2-1 .team-body2 .team-left .team-element h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.team-content2-1 .team-body2 .team-right .team-element h2 {
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    font-family: 'Proxima Nova', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.team-content2-1 .team-body2 .team-left .team-element h3 {
    text-align: center;
    font-weight: 400;
    margin: 10px auto;
    font-size: 18px;
    color: #393435;
    font-family: 'Proxima Nova', sans-serif;
    line-height: 24px;
}

.team-content2-1 .team-body2 .team-right .team-element h3 {
    text-align: center;
    font-weight: 400;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    color: #393435;
    line-height: 24px;
}

.team-content2-1 .team-body2 .team-element .team-icon {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    height: 90px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-content2-1 .team-body2 .team-element .team-icon img {
    width: auto;
    height: 48px;
}

.team-content2-1 .team-body2 .team-element h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0 auto;
}

.team-content2-1 .team-body2 .team-element h3 {
    line-height: 24px;
    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
    color: #393435;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}



.app-content4 .app-div4 .app-logs .app-images img.image1-a {
    max-height: 90px;
    object-fit: contain;
    margin: 0px 30px;
    max-width: 93px;
}


.app-content4 .app-div4 .app-logs .app-images img.image2-b {
    max-height: 74px;
    object-fit: contain;
    margin: 0px 30px;
    max-width: 137px;
}

.app-content4 .app-div4 .app-logs .app-images img.image3-c {
    max-height: 78px;
    object-fit: contain;
    margin: 0px 30px;
    max-width: 161px;
}

.app-content4 .app-div4 .app-logs .app-images img.image4-d {
    max-height: 44px;
    object-fit: contain;
    margin: 0px 30px;
    max-width: 166px;
}

.app-content4 .app-div4 .app-logs .app-images img.image5-e {
    max-height: 44px;
    object-fit: contain;
    margin: 18px 30px;
    max-width: 129px;
}

.app-content4 .app-div4 .app-logs .app-images img.image6-f {
    max-height: 44px;
    object-fit: contain;
    margin: 15px 30px;
    max-width: 159px;
}

@media only screen and (max-width: 768px) {
    .quality-content1 p {
        font-size: 20px;
        width: 361px;
    }

    .app-content4 .app-div4 .app-logs .app-images div {
        max-width: 50%;
    }

    .quality-content3 .quality-body3 .quality-left {
        width: 90%;
    }

    .quality-content3 .quality-body3 .quality-right {
        width: 90%;
    }

    .body-section6 .why-arcgate img {
        width: 143px;
        height: 118px;
    }

    .quality-section6 .why-arcgate {
        margin-bottom: 56px;
        text-align: center;
    }
}
