body {}

footer>section>aside {
	float: none;
	text-align: center;
	width: 100%
}

footer>section>aside>nav>ul {
	text-align: center;
	float: none
}

footer>section>aside>nav>ul.second-menu {
	margin-left: 0
}

footer>section>aside>nav>ul li {
	display: inline-block;
	text-align: center;
	margin: 0 5px
}

footer>section>aside>.arcgate-logo {
	margin: 0 auto 15px;
	text-align: center;
	float: none
}

footer>section>aside>nav>ul li a,
footer>section>aside>nav>ul li a:hover,
footer>section>aside>nav>ul li a:visited {
	font-size: 12px
}

.footer-social {
	position: relative;
	top: 52px;
	height: 136px;
	right: 0;
	width: 312px;
	float: left;
	clear: both;
	top: 0;
	margin-top: 20px
}

.footer-social {
	right: 0;
	left: 0;
	float: none;
	width: 100%;
	text-align: center;
	margin: 60px 0 0;
	height: 130px
}

.footer-social .fb,
.footer-social .tw,
.footer-social .in {
	display: inline-block!important;
	position: relative!important;
	left: auto!important;
	top: 15px!important
}

.footer-social p {
	text-align: center
}

.footer-social p.copyright {
	top: 45px
}

h1 {
	font-size: 21px
}

h2 {
	font-size: 20px
}

.ourteam {
	padding: 40px 0
}

.arcgatelab {
	padding: 40px 0
}

.link_btn>a.link_caption {
	font-size: 16px
}

.software-client {
	display: none!important
}

.software-client-list-mobile {
	display: block!important;
	margin: 25px 0;
	position: relative
}

.software-client-list-mobile img {
	width: 100%
}

.arcgaterated p {
	font-size: 16px
}

.clientacquired h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 25px
}

.clientacquired {
	padding: 40px 0
}

.clientacquired p>span {
	font-size: 14px
}

.clientacquired p>span.acquirer {
	font-size: 12px
}

.dataprocessing h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 0
}

.dataprocessing .button-div {
	margin-top: 20px
}

.dataprocessing {
	padding: 40px 0
}

.data-process-type {
	max-width: 100%;
	margin: 20px 10px 0
}

.data-process-type>a>.data-processing-icons>img {
	width: 100px
}

.data-process-type>a>.data-processing-caption {
	font-size: 14px
}

.whyarcgate {
	padding: 20px 0
}

.whyarcgate h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	margin-bottom: 12px
}

.whyarcgate-factors>p.y-info {
	width: 85px;
	margin: 20px 5px auto
}

.whyarcgate-factors>p.y-info img {
	width: 85px
}

.whyarcgate * center>p {
	font-size: 16px
}

.whyarcgate-factors .y-caption {
	font-size: 14px;
	padding-top: 2px
}

.whyarcgate center {
	margin-bottom: 0
}

.whyarcgate-factors {
	margin-bottom: 30px
}

.parallax-bg.bg2 {
	padding: 20px 0
}

.joinarcgate h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.joinarcgate center {
	margin-bottom: 30px
}

.joinarcgate p {
	font-size: 16px;
	width: 100%
}

.animation-element.joinarcgate.in-view>.parallax-bg.bg1>.parallax-bg.bg2 {
	background-position: 105% 8%
}

.arcgateblog {
	padding: 20px 0
}

.arcgateblog h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.arcgateblog p {
	font-size: 16px
}

.arcgatetwit {
	padding: 20px 0
}

.arcgatetwit h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.ourentrepreneurs {
	padding: 32px 0 14px
}

.ourentrepreneurs img.arcgate_bg2,
.ourentrepreneurs.contact img.arcgate_bg2 {
	position: absolute;
	left: -50%;
	top: -5%;
	opacity: .5
}

.ourentrepreneurs * .right-wrapper {
	padding: 0
}

.ourentrepreneurs .right-wrapper>h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 20px;
	margin-bottom: 15px
}

.ourentrepreneurs .right-wrapper>p {
	font-size: 16px
}

.arcgatefacility {
	padding: 32px 0 25px
}

.arcgatefacility h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif
}

.arcgatefacility center {
	margin-bottom: 20px
}

.arcgatefacility * center>p {
	font-size: 16px;
	width: 100%
}

.arcgatetimeline {
	padding: 25px 0 20px
}

.arcgatetimeline h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 25px;
	width: 100%
}

.timeline-dnb {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 0
}

.timeline-db {
	width: 80%
}

.timelinetable-row:nth-child(8) * .timeline-axis {
	margin-bottom: 0
}

.timelinetable-row:nth-child(9) * .timeline-texas {
	margin-top: 20px;
	width: 80%
}

.timeline-row {
	background-position: 0 .8%;
	padding-left: 38px
}

.timeline-row .timeline-title,
.start-year {
	font-size: 25px
}

.timeline-row h4 {
	font-size: 18px
}

.timeline-row p {
	font-size: 16px
}

.teamleader {
	padding: 25px 0 12px
}

.teamleader h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin-bottom: 10px
}

.teamleader * center {
	margin-bottom: 20px
}

.teamleader h5 {
	font-size: 16px;
	text-align: center
}

.teamleader * center>p {
	font-size: 16px;
	width: 100%
}

.leader_icon>img {
	margin-left: 0;
	width: 85px
}

.mobile-leader_info {
	display: inline-block;
	vertical-align: top;
	margin: 35px 0 0 0
}

.leader_icon,
.leader_info {
	display: table;
	width: 100%;
	padding: 10px 0
}

.leader_icon {
	text-align: center
}

.leader_info>p,
.leader_info>ul li {
	font-size: 16px;
	margin-bottom: 20px
}

.leader_info>p:last-child {
	margin-bottom: 30px
}

.about_whyarcgate {
	padding: 20px 0
}

.about_whyarcgate h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin-bottom: 10px
}

.about_whyarcgate * center>p {
	font-size: 16px;
	width: 100%
}

.about_whyarcgate-factors>p {
	max-width: 100%;
	margin: 30px 0 0;
	font-size: 16px
}

.about_whyarcgate-factors>p>.why_img>img {
	max-width: 85px;
	display: block;
	margin: 0 auto
}

.about_whyarcgate-factors .y-caption {
	font-size: 16px;
	padding-top: 0;
	text-align: center
}

.arcgatefoundation {
	padding: 20px 0
}

.arcgatefoundation h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	text-align: left;
	margin-bottom: 10px
}

.arcgatefoundation p {
	font-size: 16px;
	width: 100%
}

.foundation_icon {
	text-align: center
}

.foundation_icon>img {
	width: 30%;
	margin-left: 0
}

.foundation_icon,
.foundation_info {
	display: table;
	width: 100%;
	padding: 0
}

.serviceweoffer {
	padding: 20px 0
}

.serviceweoffer h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.serviceweoffer p {
	font-size: 16px
}

.offer>span {
	font-size: 16px
}

.whovare>.wrapper>.table-row {
	padding: 20px 0
}

.whovare_icon,
.whovare_info {
	width: auto;
	display: table
}

.whovare_icon {
	width: 100%;
	text-align: center
}

.whovare_icon>.data_icon>img {
	max-width: 85px
}

.whovare_icon>.data_icon>p {
	display: none
}

.whovare_info>p {
	font-size: 16px;
	margin-top: 0;
	width: 100%
}

.whovare_info>p>span {
	font-size: 16px;
	text-align: center;
	display: table;
	width: 100%
}

.ourclients {
	padding: 20px 0
}

.ourclients h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 25px;
	width: 100%;
	margin-bottom: 10px
}

.ourclients p {
	font-size: 16px;
	width: 100%
}

.ourclients_types {
	padding: 20px 0
}

.client_info>p {
	font-size: 16px
}

.client_info>p>span.client_type {
	font-size: 18px
}

.client_info>p>.client_logo {
	margin: 10px;
	width: 110px
}

.ourclients_types .client_info>p>.client_logo>img {
	width: 100%
}

.logos {
	width: 100%
}

.welcometoarcgate {
	padding: 20px 0
}

.welcometoarcgate h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 22px
}

.animation_wrapper {
	min-height: 450px;
	width: 100%;
	overflow: hidden
}

.animation_wrapper>p {
	font-size: 16px;
	margin-bottom: 15px
}

.whoyouare {
	padding: 20px 0
}

.whoyouare_icon_bg {
	background-size: 280px auto;
	width: 282px;
	min-height: 290px
}

.whoyouare h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 22px
}

.whoyouare p {
	font-size: 16px;
	margin-bottom: 10px
}

.whoyouare_icon_bg>p {
	font-size: 20px;
	width: auto;
	margin-bottom: 2px
}

.jobs>.parallax-bg {
	padding: 20px 0
}

.jobs h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 22px;
	width: 100%;
	margin-bottom: 10px
}

.jobs_info {
	margin: 0 auto;
	padding: 0;
	width: 100%
}

.jobs p {
	font-size: 16px;
	margin-bottom: 10px
}

.contact {
	padding: 20px 0
}

.contact h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 22px;
	margin-bottom: 10px
}

.contact p,
.clientacquired p {
	font-size: 16px;
	margin-bottom: 10px
}

.contact .table-row {
	width: 100%
}

.contact_info {
	width: 100%;
	display: table;
	padding: 0
}

.contact_logo {
	display: none
}

.mobile-contact_logo {
	display: block
}

.mobile-contact_logo>img {
	width: 40%
}

.arcgatebloglist {
	padding: 20px 0
}

.blogslist {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0
}

.blogdetail {
	margin: 0 auto 10px;
	padding: 0
}

.thumb_desc {
	height: auto
}

.blogdetail .thumb_desc p {
	padding: 10px
}

.arcgateblogarticle h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.arcgateblogarticle p {
	font-size: 16px
}

.welcomearclab {
	padding: 20px 0
}

.welcomearclab img.arcgate_bg2 {
	    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
    object-fit: cover;
    width: auto;
    height: 120%;
}

.welcomearclab .right-wrapper>h2 {
	font-family: proximanovaregularwebfont_0, Arial, Helvetica, sans-serif;
	font-size: 24px;
	width: 100%
}

.welcomearclab .right-wrapper>p {
	font-size: 18px
}

.welcomearclab .right-wrapper>ul {
	margin-bottom: 15px
}

.welcomearclab .right-wrapper>ul>li {
	font-size: 16px
}

.capabilities {
	padding: 20px 0
}

.capabilities h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 10px
}

.capabilities_area {
	font-size: 18px
}

.capabilities_type>ul>li {
	font-size: 16px
}

.app_development>.capabilities_type {
	margin: 10px 30px
}

.innovation {
	padding: 20px 0
}

.innovation h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 10px
}

.innovation center {
	margin-bottom: 10px
}

.innovation * center>p {
	font-size: 16px;
	width: 100%
}

.innovation-factors {
	margin-bottom: 20px
}

.innovation-factors>p {
	padding-top: 5px;
	font-size: 16px
}

.rounded_box {
	width: 180px;
	height: 180px
}

.rounded_box>p {
	font-size: 100%
}

.workmob {
	padding: 20px 0
}

.workmob h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	width: 100%;
	margin-bottom: 10px
}

.workmob center {
	margin-bottom: 0
}

.workmob * center>p {
	font-size: 16px;
	width: 100%
}

.arcgateblogarticle .arcBlog .arcClient-block .client-block {
	width: 100%;
	margin-left: 0;
	margin-left: 0;
	float: none;
	box-sizing: border-box;
	margin-top: 20px
}

.arcgateblogarticle .arcBlog .arcMedia img,
.arcgateblogarticle .arcBlog .advertPhoto img,
.arcgateblogarticle .arcBlog .arcSectin img {
	width: 100%
}

.arcgateblogarticle .arcBlog .arc-opp .cardBox {
	width: 100%;
	margin-left: 0;
	margin-left: 0;
	float: none;
	box-sizing: border-box;
	margin-top: 20px
}

.arcgateblogarticle .arcBlog .table td,
.arcgateblogarticle .arcBlog .table th {
	font-size: 11px;
	padding: 10px 4px
}

.arcgateblogarticle .arcBlog .arcSectin {
	padding: 0
}

.twitinfo {
	display: inline-block
}

.submenu {
	border: 1px solid #eae9e9;
	box-shadow: none;
	visibility: visible;
	position: initial;
	transform: translate(0, 0px)
}

.submenu ul {
	box-shadow: none;
	padding: 5px 10px;
	background: 0 0;
	border-radius: 0
}

header>section>nav.open ul {
	padding-top: 0
}

.bpos .submenu,
.indstrz .submenu,
.submenu,
.DDblogs .submenu,
.DDpodcast .submenu,
.DDresource .submenu {
	width: 100%;
	left: 0;
	border-width: 1px 0;
	border-radius: 0
}

header>section>nav.open ul {
	display: block
}

.submenu ul li,
.bpos .submenu ul li,
.indstrz .submenu ul li {
	width: 100%;
	padding: 5px 0;
	text-align: left
}

.submenu:before {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	border-bottom: 6px solid #ccc;
	top: -13px;
	left: 10px;
	display: none
}

.whoyouare_icon_bg>p:first-child {
	margin-top: 25px
}

.footer-social1 {
	position: relative;
	top: 52px;
	height: 136px;
	right: 0;
	width: 312px;
	float: left;
	clear: both;
	top: 0;
	margin-top: 20px
}

.footer-social1 {
	right: 0;
	left: 0;
	float: none;
	width: 100%;
	text-align: center;
	margin: 60px 0 0;
	height: 130px
}

.footer-social1 .fb,
.footer-social1 .tw,
.footer-social1 .in,
.footer-social1 .gl,
.footer-social1 .yt,
.footer-social1 .sc,
.footer-social1 .insta {
	display: inline-block!important;
	position: relative!important;
	left: auto!important;
	top: 15px!important
}

.footer-social1 p {
	text-align: center
}

.footer-social1 p.copyright {
	top: 20px
}

.contact-ag {
	background-size: 50%;
	background-position: -30% bottom
}

.jobs_info>.button-div {
	text-align: center
}

.cs-main {
	display: block;
	margin: 40px 0 50px
}

.cs-one {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center
}

.cs-two {
	margin: 0 50px;
	text-align: center;
	width: auto
}

.cs-two img {
	width: 150px
}

.cs-three {
	width: 100%;
	padding: 0 30px;
	text-align: center
}

.cs-main h6,
.cs-three p {
	font-size: 18px
}

#masonry-container .photodetail {
	margin-left: 0
}

.desktop-only {
	display: none!important
}

.casestudies h2 {
	font-weight: 700
}

.arc-life-gallery .photodetail {
	margin: 20px 0
}

header>section>nav {
	float: none;
	top: 12px
}

.bpo-services .ind-real-estate-tech .data-process-type {
	margin: 0 10px 10px
}

.bpo-services .data-process-type>a>.data-processing-caption,
.bpo-services .data-process-type>a>.data-processing-icons {
	max-width: 110px
}

.bpo-services .data-process-type>a>.data-processing-icons {
	min-height: 80px
}

.bpo-services .ind-adtech .data-process-type>a>.data-processing-icons,
.bpo-services .ind-adtech .data-process-type>a>.data-processing-caption {
	max-width: 130px
}

.bpo-services .ind-adtech .data-process-type {
	margin: 0 5px 10px
}

.bpo-services .marketEcomm .data-process-type>a>.data-processing-icons,
.bpo-services .marketEcomm .data-process-type>a>.data-processing-caption {
	max-width: 100px;
	min-width: initial
}

nav.open a,
nav a {
	transition: none
}

header>section.resources-header>nav>ul>li {
	margin: 0
}

#menu-icon {
	position: relative;
	top: 4px
}

.help-data {
	margin: 0 auto;
	width: 100%
}

.we-help-bg {
	background: 0 0;
	display: initial
}

.ag-blog-img iframe {
	height: 250px
}

.jobs ul li,
.jobs h4 {
	font-size: 16px
}

.jobs ul {
	margin-bottom: 10px
}

.cd-top {
	bottom: 70px
}

.bottom-banner {
	bottom: -100px
}

.bottom-banner.strip {
	bottom: 0
}

.bottom-banner h3 {
	font-size: 14px;
	text-align: left;
	margin: 0
}

.bottom-banner .pull-left,
.bottom-banner .pull-right {
	justify-content: space-between;
	margin: 10px
}

.bottom-banner h1 {
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	margin-left: 0;
	text-align: left
}

.bottom-banner h2 {
	margin-right: 0;
	font-size: 0;
	height: 20px
}

a.btn-white {
	display: block;
	min-width: 110px;
	text-align: center
}

.ourteam h2 {
	font-size: 20px
}

.pop {
	overflow: scroll
}

.pop .join-innner,
.join-innner {
	width: 100%
}

.pop .address-right {
	width: auto
}

.block-left {
	width: 100%
}

.block-right {
	float: right;
	margin-top: -20px;
	width: 100%
}

.head01 img.logopop {
	width: 150px
}

.pop .head01 {
	padding: 0 10px
}

.pop .close,
.popVacancy .close {
	right: 10px;
	top: 7px
}

.jobs_info .vacancy-caontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between
}

.jobs_info .vacancy-caontainer .vcBoxLeft {
	width: 100%
}

.jobs_info .vacancy-caontainer .vcBoxRight {
	width: 100%
}

.technology-banner {
	padding: 25px 0;
	background-size: cover;
}

.technology-inner {
	padding: 20px 0
}

.dataprocessing.ai-first .flex-spc-btwn {
	flex-direction: column
}

.dataprocessing.ai-first .flex-spc-btwn .right-border {
	padding-bottom: 30px;
	padding-right: 0;
	border-right: 0
}

.ai-first h1 {
	font-size: 20px;
	line-height: 28px;
	padding: 0 15px 20px;
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif
}

.dataprocessing.ai-first .mrgtb .data-process-type>a>.data-processing-icons>img {
	max-width: 50px
}

.dataprocessing.ai-first {
	padding: 40px 0
}

.onlyios {
	display: none
}

.iphone .onlyios {
	display: block
}

.arcgate-photos .all-video h1 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 0
}

.home-podcast h2 {
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	font-size: 20px
}

.ai-first .link_btn>a.link_caption {
	font-size: 15px;
	width: 40px;
	min-width: 40px;
	height: 40px
}

.dataprocessing.ai-first h2 {
	font-size: 18px
}

.skills h1,
.skills h1 span.orng {
	font-size: 20px;
	line-height: 30px
}

.join-page .address h4 {
	font-size: 20px;
	line-height: 30px
}

.skills .wrapper {
	width: 100%
}

.app-dev h1 {
	font-size: 20px
}

.app-dev h2 {
	font-size: 18px;
	line-height: 30px;
}

.pop-vacancy-inner {
	align-items: flex-start;
	padding: 75px 10px
}

#pop-content-writer,
#pop-copy-editor {
	width: 100%;
	border-right: none
}

#pop-content-writer {
	padding-top: 20px
}

#pop-copy-editor {
	border-bottom: 1px solid #ffc4b5;
	padding-bottom: 20px
}

.popVacancy .becom-in {
	flex-wrap: wrap
}

.top-strip {
	padding: 5px 50px 0 0 !important;
	font-size: 12px !important;
	display: none !important;
}

.temp {
	display: none;
}

header {
	height: 100vh !important;
	margin-top: 110px;
}

.werhiring {
    font-size: 16px !important;
    margin-bottom: 4px;
    display: inline-block;
}

.mobile-top-strip a {
	color: #ffffff;
	padding: 5px 12px !important;
	border: 2px solid #fff !important;
	font-size: 12px !important;
	border-radius: 7px;
	margin-left: 10px;
	font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 2px;
}
.devOps-service .divLeft, .devOps-service .divRight{
	width: 100%;
}

.devOps-solutions p{
	font-size: 18px;
}
.outsourced-services h2{
    color: #ffffff;
    font-size: 26px;
}

.technology-banner.devOps-solutions h2{
    font-size: 26px;
}
.tools-section .disp-flex{
	display: block;
	text-align: center;
}
.badge{
	justify-content: center;
	background-color: transparent;
}
.badge h6{
	background-color: #fff;
}


@media all and (max-width:767px) {

.whatwedo.bpo-home .data-process-type {
    margin: 0 0 10px;
    width: 185px;
}

.whatwedo p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}


.app-dev, .devOps-service, .outsourcing-hwd, .tools-section, .qaHowWeDo, .salesforce-service, .why-salesforce-service, .keyElement-section {
    padding: 30px 0;
}

.app-dev h1, .devOps-service h1, .outsourcing-hwd h1, .tools-section h1, .whatwedo h2, .qaHowWeDo h2, .salesforce-service h1, .why-salesforce-service h1, .technology-banner h2{
    font-size: 24px;
    margin:0 0 15px;
    padding: 0;
    font-family: proximanovaregularwebfont_0,Arial,Helvetica,sans-serif;
}

.qatTesting-solutions p{
	    font-size: 18px;
}

.qatTesting-solutions .data-process, .bpo-home .data-process{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.qatTesting-solutions .data-process .data-process-type, .bpo-home .data-process .data-process-type{
	flex-basis: 50%;
	max-width: 50%;
	margin-left: 0;
	margin-right: 0;
} 

.qatTesting-solutions .data-process .data-process-type>a,
.bpo-home .data-process .data-process-type>a{
	margin: 0;
}

.qatTesting-solutions span.data-processing-icons.clearfix,
.bpo-home span.data-processing-icons.clearfix {
    display: flex;
    max-width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.qatTesting-solutions .data-process-type>a>.data-processing-caption,
.bpo-home .data-process-type>a>.data-processing-caption {
    font-size: 16px;
    margin-top: 15px;
}

.qatTesting-solutions span.data-processing-icons img,
.bpo-home span.data-processing-icons img {
    max-width: 60px;
}

.devOps-service .divLeft, .devOps-service .divRight{
	padding: 0;
}

.qaHowWeDo .list_inner{
	display: block;
}

.qaHowWeDo .list_inner .colBox{
	max-width: 100%;
	margin-bottom: 40px;
}

.qaHowWeDo .list_inner .colBox:after {
    transform: rotate(90deg);
    left: 40px;
    right: auto;
    top: auto;
    bottom: -20px;
}

.qaHowWeDo .list_inner .colBox ul{
	min-height: initial;
}

.qaHowWeDo .list_inner .colBox h3 {
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
    min-height: inherit;
    margin-bottom: 15px;
}

.qaHowWeDo .list_inner, .outsourcing-hwd .list_inner {
    margin-top: 20px;
    }

.outsourcing-hwd .list_inner .colBox{
	    display: block;
}

.outsourcing-hwd .list_inner .colBox h3{
	width: 100%;
}

.outsourcing-hwd .list_inner .colBox ul{
	padding: 10px;
}

.outsourcing-hwd .list_inner .colBox:after{
	left: 40px;
}

.badge {
    justify-content: center;
    background-color: transparent;
    width: 100%;
    flex-basis: 100%;
    display: block;
    max-width: 100%;
}

.tool-logos {
    padding: 5px 0;
    width: 100%;
}
.tool-logos .tools{
	display: flex;
	justify-content: center;
	padding: 0;
}

.tool-logos img {
    max-height: 30px;
    object-fit: contain;
    margin: 8px;
    max-width: 100%;
}

.tool-logos .tools div {
    flex-basis: 50%;
    max-width: 50%;
}

.salesforce-service .list ul li {
    flex-basis: 50%;
    max-width: 50%;
    font-size: 16px;
}

.why-salesforce-service .list ul li{
	flex-basis: 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.why-salesforce-service .list ul li p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.teamleader br, .devOps-service ~ .teamleader h5{
	display: none;
}

.element-images div{
	    flex-basis: 48%;
    max-width: 48%;
    text-align: center;
}

.element-images div img {
    max-width: 80%;
    }

   .devOps-service .list ul{
   	line-height: normal;
   }

   .devOps-service .list ul li{
   	margin-bottom: 10px;
   	padding-top: 5px;
   	padding-bottom: 5px;
   }

}