.data-container {
    width: 100%;
    position: relative;
    margin: 105px auto;
    padding: 0;
}

.data-container article {
    text-align: left;
    display: block;
}

.data-section1 {
    padding: 351px 0;
    background: #FFFBD7;
}

.data-section1 .data-content1 {
    max-width: 1050px;
    margin: 0 auto;
}

.data-section1 .data-content1 .data-left {
    width: 48%;
    float: left;
    margin-top: -289px;
}

.data-section1 .data-content1 .data-left h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    color: #373435;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
}

.data-section1 .data-content1 .data-left h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin-top: 20px;
    text-align: left;
    margin: 0 auto;
}

.data-content1 .data-left span {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 20px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
}

.data-content1 .data-left .orange {
    color: #f15e3a !important;
}

.data-content1 .data-right {
    width: 48%;
    float: right;
    margin-top: -277px;
}

.data-content1 .data-right img {
    width: 100%;
}

.data-section2 {
    padding: 50px 0;
}

.data-content2 {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1050px;
    margin: 0 auto;
}


.data-content2 .data-div2 h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    color: #373435;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: center;
    margin: 0 auto;
}


.data-content2 .data-div2 h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 20px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
    margin: 11px auto;
}



.data-content2 .data-div2 span {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin-top: 20px;
    text-align: left;
}

.data-content2 .data-div2 .orng {
    color: #f15e3a !important;
}

.data-content2 .market-today {
    padding: 30px;
}

.data-content2 .data-div2 h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    margin: 10px auto;
}

.data-content2 .market-today .data-left1 {
    width: 47%;
}

.data-content2 .market-today .data-right2 {
    width: 48%;
    margin-top: -170px;
    float: right;
}

.data-content2 .market-today .data-left1 h3 {
    margin: 30px 0;
    padding: 0 12px;
    text-align: left;
    font-size: 20px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 600;
    line-height: 26px;
}

.data-content2 .market-today .data-right2 h3 {
    margin: 30px 0;
    padding: 0 40px;
    font-size: 20px;
    margin-top: 8px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
    /* margin: 30px 0;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    line-height: 26px;
    text-align: left; */
}

.data-section3 {
    background: #ebedd9;
}

.data-section3 .data-content3 {
    padding: 10px;
    height: 673px;
}

.data-section3 .data-content3 .data-left2 img {
    margin-left: 315px;
    padding: 52px;
}

.data-section3 .data-content3 .data-right2 {
    width: 26%;
    margin-top: -639px;
    /* float: right; */
    margin-left: 942px;
}

.data-content4 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.data-section3 .data-content3 .data-right2 h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #373435;
    margin: 0 auto;
}

.data-section3 .data-content3 .data-right2 span {
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
}

.data-section3 .data-content3 .data-right2 p {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin: 40px 0;
}

.data-section3 .data-content3 .data-right2 p {
    font-size: 20px;
    font-weight: 700;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.data-section3 .data-content3 .data-right2 .orng {
    color: #f15e3a !important;
}

.data-section4 {
    padding: 50px 0;
}

.data-content4 h1 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    color: #373435;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}

.data-content4 h1 span {
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: left;
    color: #f15e3a;
}

.data-content4 h1.orng {
    color: #f15e3a !important;
}

.data-content4 .data-div4 {
    background: url(../images/bg.png) no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 560px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 40px 0 0;
}

.data-content4 .data-div4 .data-body4 {
    border: 0 solid red;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-content4 .data-div4 .data-body4 .data-image {
    border-radius: 50%;
    background: #e8eded;
    padding: 30px;
    width: 112px;
    margin-left: 29px;
}

.data-content4 .data-div4 .data-body4 .data-image img {
    width: 100%;
}

.data-content4 .data-div4 .data-body4 h6 {
    margin: 10px;
    font-size: 20px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 700;
}

.data-content4 .data-div4 .data-body4 ul {
    margin: 20px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.data-content4 .data-div4 .data-body4 li {
    display: flex;
    align-items: center;
    margin: 0 -18px 15px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 700;
    text-align: left;
}

.data-content4 .data-div4 .data-body4 li img {
    width: 25px;
    margin-right: 10px;
}

.blogView-div2 h6 {
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-align: center;
    font-size: 18px;
    color: #868572;
    margin-top: 50px;
    padding: 20px 0;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e1da;
}


.data-section-blog {
    padding-top: 0;
    margin-top: -80px;
}


.data-section-blog-3 {
    padding-top: 0;
    margin-top: -80px;
    height: 600px;
}


.data-content-blog {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.data-content-blog h6 {
    text-align: center;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #868572;
    margin-top: 50px;
    padding: 20px 0;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e1da;
}


.data-body-blog {
    position: relative;
    width: 1050px;
    height: 440px;
    margin-left: -20px;
    margin-top: -38px;
}

.data-body-blog .data-blogs1 {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs1 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-body-blog .data-blog-image {
    position: absolute;
    right: 15px;
    top: 15px;
}

.data-body-blog .data-blog-image img {
    height: 15px;
}

.data-blog-card h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: black;
    font-family: sans-serif;
}

.data-blog-card a {
    text-decoration: none;
}


.data-body-blog .data-blogs2 {
    position: absolute;
    left: 350px;
    top: 0px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs2 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-body-blog .data-blogs3 {
    position: absolute;
    left: 700px;
    top: 0px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs3 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-body-blog .data-blogs4 {
    position: absolute;
    left: 0px;
    top: 234px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs4 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-body-blog .data-blogs5 {
    position: absolute;
    left: 350px;
    top: 234px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs5 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.data-body-blog .data-blogs6 {
    position: absolute;
    left: 701px;
    top: 234px;
    display: inline-block;
    margin: 20px 0 0 20px;
    max-width: 330px;
    padding: 0;
    vertical-align: top;
    width: 100%;
}


.data-blogs6 .data-blog-card {
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .35);
    background-color: #eee;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


@media only screen and (max-width: 768px) {

    .data-content4 h1 {
        font-size: 23px;
        width: 331px;
        line-height: 29px;
    }

    .blogView {
        margin-right: 0;
    }

    .data-content4 h1 span {
        font-size: 23px;
    }

    .data-section3 .data-content3 .data-left2 img {
        margin: 16px;
        width: 88%;
    }

    .data-section3 .data-content3 .data-right2 p {
        text-align: center;
    }

    .data-section3 .data-content3 .data-right2 {
        margin: 0;
        width: 100%;
    }

    .market-today {
        display: grid;
    }

    .data-content2 .market-today .data-left1 {
        width: 100%;
    }

    .market-today .data-left1 {
        width: 100%;
    }

    .data-section1 {
        padding: 150px 0;
    }

    .data-content1 .data-right {
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .data-left {
        width: 100%;
        float: initial;
        margin-bottom: 20px;
    }

    .data-section1 .data-content1 .data-left h1 {
        text-align: center;
        font-size: 24px;
        width: 354px;
        line-height: normal;
    }

    .data-section1 .data-content1 .data-left h2 {
        font-size: 17px;
        width: 370px;
        line-height: 26px;
    }

    .data-content1 .data-left .orange {
        font-size: 20px;
        line-height: 26px;
    }

    .data-content1 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .data-section2,
    .data-section4 {
        padding: 30px 0;
    }

    .data-section3 {
        height: 1032px;
    }

    .data-section1 .data-content1 .data-left {
        padding: 0;
        margin-top: -43px;

    }

    .data-right {
        width: 100%;
        float: initial;
        margin-bottom: 0;
    }

    .data-content1 .data-right img {
        width: 92%;
    }

    .data-content2 h1 {
        text-align: center;
        font-size: 24px;
        line-height: normal;
    }

    .data-content2 h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .data-content2 .data-div2 .orng {
        font-size: 20px;
        line-height: 26px;
    }

    .data-content4 .data-div4 {
        display: block;
        background: none;
    }

    .data-content4 .data-div4 .data-body4 {
        align-items: center;
    }

    .data-content2 .data-div2 h1 {
        text-align: center;
        font-size: 24px;
        line-height: normal;
    }

    .data-content2 .data-div2 h2 {
        font-size: 20px;
        line-height: 26px;
    }

    .data-content2 .data-div2 h2 span {
        font-size: 20px;
        line-height: 26px;
    }

    .market-today h3 {
        margin: 20px 0;
    }

    .data-right1 {
        width: 100%;
        float: initial;
        margin-bottom: 0;
    }

    .data-section3 {
        padding: 20px 0;
    }

    .data-content3 {
        padding-left: 15px;
        padding-right: 15px;

    }

    .data-left2 {
        width: 100%;
        float: initial;
        margin-bottom: 20px;
    }

    .data-left2 img {
        margin-right: 10px;
    }

    .data-right2 h1 {
        text-align: center;
        font-size: 24px;
        line-height: normal;
    }

    .data-right2 p {
        margin: 20px 0;
    }

    .data-content2 .market-today .data-right2 {
        margin-top: 0;
        width: 118%;
        margin-left: -33px;
    }
}

@media only screen and (max-width: 480px) {
    .data-section1 {
        padding: 80px 0;
    }

    .data-section2,
    .data-section3,
    .data-section4 {
        padding: 20px 0;
    }

    .data-content2 .market-today .data-left1 {
        width: 100%;
    }

    .data-content2 .market-today .data-right2 {
        margin-top: 0;
        width: 118%;
        margin-left: -33px;
    }

}
