.term-container {
    width: 100%;
    position: relative;
    margin: 105px auto 0;
    padding: 0;
}

.term-section1 {
    background-image: url(../images/arcgate-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

.term-content1 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.term-content1 h1 {
    width: 70%;
    margin-bottom: 0;
    font-size: 36px;
    text-align: center;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 400;
    margin: 0 auto;
}

.term-section2 {
    padding: 8px 0;
    background-color: #fff;
}

.term-content2 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.term-content2 p {
    width: 94%;
    margin: 0 auto;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-size: 120%;
    line-height: 120%;
    padding: 0 0 20px;
}

.term-content2 p span {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    outline: none;
    color: red;
}

.term-content2 p a{
outline: none;
text-decoration-line: none;
}

.term-content2 h2 {
    width: 94%;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin: 0 auto;
    font-size: 160%;
    line-height: 160%;
    padding: 20px 0 0;
}
