.about-container {
  width: 100%;
  margin: 105px auto 0;
  position: relative;
  padding: 0;
}

.about-container .about-section1 {
  background-color: #fff;
  padding: -21px 0 28px;
  overflow: hidden;
  text-align: center;
}

.about-section1 .about-content {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.about-section1 .about-content img {
  opacity: 1;
  position: absolute;
  left: -20%;
  transform: translateY(0);
  top: 12.25%;
}

.about-section1 .about-div {
  float: right;
  text-align: left;
  width: 100%;
  max-width: 737px;
  position: relative;
  padding: 0 10px;
}

.about-div h2 {
  text-align: inherit;
  color: #1a171b;
  width: 82%;
  line-height: 2.09em;
  float: left;
  font-size: 36px;
  margin-bottom: 26px;
  font-weight: 400;
}

.about-div p {
  font-size: 24px;
  line-height: 1.25em;
  width: 86%;
  margin-bottom: 26px;
}

.about-section2 {
  background: #fff;
  display: block;
}

.about-section2 .about-list {
  display: flex;
}

.about-list .about-list1-item {
  flex-grow: 1;
  padding: 0 0;
  border: 1px solid #f5f4f4;
}

.about-list1-item ul {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.about-list1-item ul li {
  border-bottom: 1px solid #f5f4f4;
  opacity: 1;
  list-style: none;
}

.about-list1-item ul li h1 {
  font-family: "Montserrat,Cinzel ";
  transition: all .5s;
  transform: scale(1);
  margin-bottom: -8px;
  color: #333;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

.about-list1-item ul li h6 {
  text-align: center;
  color: #868e90;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 20px;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}


.about-list2-item {
  flex-grow: 1;
  padding: 0 0;
  border: 1px solid #f5f4f4;
}

.about-list2-item ul {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.about-list2-item ul li {
  padding: 30px 0;
  opacity: 1;
  list-style: none;
  border-bottom: 1px solid #f5f4f4;
}

.about-list2-item ul li h1 {
  font-family: "Montserrat,Cinzel ";
  transition: all .5s;
  transform: scale(1);
  margin-bottom: 10px;
  color: #333;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

.about-list2-item ul li h6 {
  color: #868e90;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.about-section3 {
  background-image: url(../images/arcgate-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 78px 0 60px;
  color: #f15e3a;
}

.about-content1 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.about-content1 h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  color: #000;
  margin-bottom: 22px;
  margin: 0 auto;
}

.about-content1 center {
  margin-bottom: 50px;
}

.about-content1 center p {
  color: #000;
  width: 90%;
  line-height: normal;
  font-size: 24px;
}

.video-bloglist {
  text-align: center;
  display: flex;
  gap: 16px;
}

.about-section3 .btn-div {
  text-align: center;
}

.about-section3 .button-div .btn-link {
  color: #e85631;
  display: inline-block;
}

.about-section3 .button-div .btn-link a {
  color: inherit;
  font-size: 24px;
  padding: 8px 12px;
  display: inherit;
  min-width: 170px;
  border-radius: 10px;
  border: 3px solid #e85631;
  text-decoration-line: none;
  color: orangered;
}


.about-section3 .button-div .btn-link a:hover {
  color: white;
  background-color: #e85631;
}


.about-section4 {
  background: #D5D9BD;
  padding: 48px 0;
}

.about-section4 .arcgate-content {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.about-section4 .video-content {
  position: relative;
  min-height: 100px;
  width: 100%;
  max-width: 1050px;
}

.about-section4 .video-content h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 23px;
}

.about-section4 .video-list {
  text-align: center;
  gap: 22px;
}

.about-section4 .video-list .video-div {
  transition-delay: 100ms;
  opacity: 1;
  max-width: 340px;
}

.about-section4 .video-list .video-div .video-body {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .3);
}

.about-section4 .video-body a {
  display: inline-block;
  vertical-align: top;
  width: inherit;
}

.about-section4 .video-image {
  position: relative;
  overflow: hidden;
  display: block;
}

.about-section4 .video-image img {
  width: 100%;
}

.about-section4 .video-div .video-image .btn-video img {
  width: 44px;
  height: 43px;
  position: absolute;
  top: 31%;
  left: 43%;
  background-color: rgba(249, 99, 50, .9);
  border-radius: 33px;
  padding: 12px;
}

.about-section4 .video-text {
  background: #f6f6f6;
  position: relative;
  min-height: 85px;
  margin-top: -66px;
}

.about-section4 .video-text p {
  padding: 10px;
  color: #333;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.about-section5 {
  background-color: #fff;
  padding: 64px 0 65px;
  text-align: center;
  min-height: 1400px;
}

.about-content3 {
  width: 100%;
}

.about-section5 .about-content3 h2 {
  width: 74%;
  margin-bottom: 30px;
  line-height: 1.08em;
  font-size: 36px;
  color: #373435;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.awards-container {
  text-align: center;
  background-image: url(../images//timeline-path1.png);
  background-position: top center;
  background-repeat: repeat-y;
  height: 3251px;
  position: relative;
  margin-top: 31px;
}

.awards-content {
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-body-row {
  display: inline-block;
  width: 50%;
  max-width: 480px;
  text-align: left;
  float: left;
  margin-top: -6px;
  background-image: url(../images/timeline-rightnode.png);
  background-position: 0 2%;
  background-repeat: no-repeat;
  padding-left: 45px;
  margin-left: 49%;
  margin-bottom: 30px;
  position: relative;
}

.leftnode {
  text-align: right;
  float: left;
  background-image: url(../images/timeline-leftnode.png);
  background-position: 100% 4%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 46px;
  margin-left: 1.15%;
}

.awards-body-row .heading1 {
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-size: 36px;
  color: #f15e3a;
  text-align: inherit;
  margin-bottom: 15px;

}

.awards-body-row h4 {
  font-size: 22px;
  color: #f15e3a;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: inherit;
  word-spacing: 5px;
  margin-bottom: -16px;
  font-weight: 400;
}

.awards-body-row p {
  font-size: 24px;
  color: #231f20;
  text-align: inherit;
  line-height: 1.2em;
  margin-top: 7px;
}


.awards-body-row .heading2 {
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-size: 36px;
  color: #f15e3a;
  text-align: inherit;
  margin-bottom: 15px;
}

.awards-body-row h4 {
  font-size: 22px;
  color: #f15e3a;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: inherit;
  word-spacing: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

.awards-body-row p {
  font-size: 24px;
  color: #231f20;
  text-align: inherit;
  line-height: 1.2em;
  margin-top: 7px;
}

.timeline-image {
  max-width: 386px;
  margin-left: 0;
  margin-top: 80px;
  margin-bottom: 30px;
}

.awards-content-1 {
  position: relative;
  top: -413px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}


.awards-content-2 {
  position: relative;
  top: -413px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}


.awards-content-3 {
  position: relative;
  top: -413px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-content-4 {
  position: relative;
  top: -663px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-content-5 {
  position: relative;
  top: -972px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-content-6 {
  position: relative;
  top: -986px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-content-7 {
  position: relative;
  top: -1013px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.awards-content-8 {
  position: relative;
  top: -1024px;
  display: table;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.start-year {
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-size: 36px;
  color: #f15e3a;
  text-align: inherit;
  margin-bottom: 15px;
}

.about-section6 {
  background-color: #e9e2d7;
  padding: 70px 0 12px;
}

.about-content4 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.about-content4 h2 {
  margin-bottom: 28px;
  font-size: 36px;
  color: #373435;
  font-size: 46px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.about-section4 center p {
  width: 90%;
  line-height: normal;
  font-size: 24px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.about-content4 center {

  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: normal;
  font-size: 24px;
}

.founder-container {
  display: table;
  width: auto;
  overflow: hidden;
  text-align: left;
  margin-top: 80px;
  box-sizing: border-box;
}

.founder-content {
  width: 32%;
  padding: 10px 10px 10px 25px;
  display: table-cell;
  vertical-align: top;
}

.founder-body {
  padding: 10px 10px 10px 25px;
  display: table-cell;
  width: auto;
  overflow: hidden;
  vertical-align: top;
}

.founder-body h5 {
  margin-bottom: 7px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-size: 22px;
  text-align: left;
  margin: 0 auto;
}

.founder-body .head-text {
  font-weight: 400;
  font-style: normal;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin-bottom: 7px;
  font-size: 22px;
  text-align: left;
  margin: 0 auto;
}

.founder-body ul li {
  font-size: 24px;
  line-height: 1.22em;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin-bottom: 15px;
  margin-left: -2px;
}

.founder-body ul li span {
  color: #e85631;
}

.about-section7 {
  background-color: #f7e848;
  padding: 80px 0 110px;
}

.about-content5 {
  width: 100%;
  max-width: 1142px;
  margin: 0 auto;
}

.about-content5 h1 {
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 18px;
}

.about-content5 center p {
  width: 82%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: normal;
  font-size: 24px;
}

.list-items {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.list-items p {
  display: inline-block;
  text-align: center;
  max-width: 311px;
  margin: 60px 30px 0;
  font-size: 22px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  vertical-align: top;
  position: relative;
  line-height: 1.4em;
}

.list-items p span {
  color: #f15e3a !important;
}

.list-items p .list-content {
  width: 100%;
  display: table;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: center;
}

.list-items p .list-content img {
  max-height: 130px;
  margin-left: 77px;
}

.about-section8 {
  background-image: url(../images//foundation.jpg);
  background-color: #16d56e;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 94px 0 48px;
}

.about-content6 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.about-content6 .table-row {
  display: table;
  width: auto;
  margin-top: 80px;
  overflow: hidden;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.about-content6 .table-row .table-cell {
  display: table-cell;
  overflow: hidden;
  vertical-align: top;
  width: 34%;
}


.about-content6 .table-row .table-cell img {
  margin-left: 25px;
}

.table-cell-info {
  width: 66%;
  display: table-cell;
  overflow: hidden;
  vertical-align: top;
}

.table-cell-info h1 {
  text-align: left;
  margin-bottom: 28px;
  font-size: 36px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  font-weight: 400;
  margin: 0 auto;
}

.table-cell-info p {
  font-size: 24px;
  line-height: 1.24em;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  width: 94%;
}

.table-button {
  margin-top: 20px;
}

.table-button .table-button-link {
  border-color: #fff;
  color: #fff;
  display: inline-block;
}

.table-button .table-button-link a {
  border-color: #fff;
  color: inherit;
  font-size: 25px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  padding: 3px -6px;
  display: inherit;
  min-width: 170px;
  padding: 3px;
  border-radius: 10px;
  border: 3px solid white;
  text-align: center;
  text-decoration-line: none;
}

.table-button .table-button-link a:hover {
  color: #27a590;
  background-color: white;
}

@media only screen and (max-width: 768px) {

  .about-list .about-list1-item,
  .about-list2-item {
    width: 100%;
  }

  .about-list1-item ul li h1,
  .about-list2-item ul li h1 {
    font-size: 28px;
  }

  .about-list1-item ul li h6,
  .about-list2-item ul li h6 {
    padding: 10px;
  }


  .about-section4 .video-list .video-div {
    margin-left: 10px;
    max-width: 365px;
  }

  .awards-body-row,
  .leftnode {
    width: 100%;
    max-width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-row .table-cell,
  .table-cell-info {
    width: 100%;
    display: block;
    margin-top: 20px;
  }

  .table-cell-info h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  .about-section3 .video-bloglist {
    display: block;
  }

  .about-section6 .founder-container {
    display: grid;
  }

  .about-section8 .table-row {
    display: block;
  }

  .table-cell-info p {
    text-align: center;
  }

  .about-content6 .table-row .table-cell {
    text-align: center;
  }

  .table-button {
    text-align: center;
  }

  .awards-container {
    background-position: 18px 0;
    height: 2959px;
  }

  .awards-body-row {
    width: 86%;
    background-position: 0 .8%;
    padding-left: 38px;

  }

  .awards-body-row .heading1 {
    font-size: 25px;
  }

  .awards-body-row .heading2 {
    font-size: 25px;
  }

  .awards-body-row h4 {
    font-size: 18px;
  }

  .awards-body-row p {
    font-size: 16px;
  }

  .leftnode {
    text-align: left;
    float: left;
    background-position: 0 2%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-right: 0;
    background-image: url(../images/timeline-rightnode.png);
    margin-left: 0;
  }

  .awards-content-1 .leftnode {
    text-align: left;
    float: left;
    background-position: 0 2%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-right: 0;
    background-image: url(../images/timeline-rightnode.png);
    margin-left: 0;
  }

  .timeline-image {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .awards-content-1 .leftnode .heading2 {
    margin-top: -10px;

  }

  .timeline-image img {
    width: 86%;
  }

  .awards-content-1 {
    margin-top: 99%;
  }

  .awards-content-2 {
    margin-top: -3%;
  }

  .awards-content-3 {
    margin-top: -2%;
  }

  .awards-content-4 {
    margin-top: 63%;
  }

  .awards-content-5 {
    margin-top: 78%;
  }

  .awards-content-6 {
    margin-top: 1%;
  }

  .awards-content-7 {
    margin-top: 4%;
  }

  .awards-content-8 {
    margin-top: 0%;
  }

  .start-year {
    text-align: left;
    font-size: 28px;
  }

  .about-content4 p {
    font-size: 18px;
  }

  .about-content4 h2 {
    font-size: 29px;
  }

  .founder-body ul li {
    font-size: 19px;
  }

  .founder-body h5 {
    text-align: center;
  }

  .founder-body .head-text {
    text-align: center;
  }

  .founder-content img {
    margin-left: 97px;
  }

  .about-container {
    overflow-x: hidden;
  }

  .about-section1 {
    padding: 32px 0 14px;
  }

  .about-section1 .about-content img {
    position: absolute;
    left: -50%;
    top: -5%;
  }

  .about-section1 .about-div {
    padding: 0;
    float: none;
    margin: 0 auto;
  }

  .about-section1 .about-div h2 {
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: -41px;
  }

  .about-section1 .about-div p {
    font-size: 16px;
    width: 94%;
  }

  .about-section4 .video-body a {
    width: 100%;
  }
}
