@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

.contact-container {
    width: 100%;
    margin: 105px auto 0;
    position: relative;
    padding: 0;
}

.contact-section1 {
    background-image: url(../images//arcgate-bg.jpg);
    padding: 40px 0;
    background-size: cover;
    color: #333;
}

.contact-content1 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.contact-content1 h1 {
    width: 53%;
    margin-bottom: 34px;
    font-size: 36px;
    text-align: center;
    font: 33px Arial, sans-serif;
    font-weight: 400;
    margin: 0 auto;
}


.contact-content1 p {
    width: 80%;
    font: 33px Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 24px;
    line-height: 1.18em;
}

.contact-section2 {
    padding: 30px 0;
    background-color: #fff;
}

.contact-content2 {
    position: relative;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.contact-div1 {
    text-align: left;
    margin: 0;
    width: 50%;
    position: relative;
}


.relative {
    position: relative;
}


.contact-section2 input[type=text] {
    background-position: 2px 6px;
    background-image: url("../images/name.png");
    padding-left: 35px;
}

.contact-section2 input[type=tel] {
    background-position: 2px 6px;
    padding-left: 35px;
}

.contact-section2 input[type=email] {
    background-position: 2px 6px;
    padding-left: 35px;
}

.contact-section2 input[type=text], .contact-section2 input[type=tel], .contact-section2 input[type=email] {
    width: 100%;
    max-width: 500px;
    border: solid #ccc;
    border-width: 0 0 1px;
    color: #e85631;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
}


input {
    vertical-align: middle;
}


.contact-section2 textarea {
    width: 100%;
    max-width: 500px;
    border: solid #ccc;
    border-width: 0 0 1px;
    color: #e85631;
    font-size: 16px;
    padding: 10px;
    overflow-y: hidden;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    resize: none;
    background-image: url(../images/textarea.png);
    background-position: 2px 9px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-color: transparent;
    height: 40px;
}


.contact-section2 input[type=text] {
    width: 100%;
    max-width: 500px;
    border: solid #ccc;
    border-width: 0 0 1px;
    color: #e85631;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    resize: none;
    background-image: url(../images/name.png);
    background-position: 2px 9px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-color: transparent;
    height: 40px;
}

.contact-section2 input[type=tel] {
    width: 100%;
    max-width: 500px;
    border: solid #ccc;
    border-width: 0 0 1px;
    color: #e85631;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    resize: none;
    background-image: url(../images/tel.png);
    background-position: 2px 9px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-color: transparent;
    height: 40px;
}

.contact-section2 input[type=email] {
    width: 100%;
    max-width: 500px;
    border: solid #ccc;
    border-width: 0 0 1px;
    color: #e85631;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    resize: none;
    background-image: url(../images/email.png);
    background-position: 2px 9px;
    background-repeat: no-repeat;
    padding-left: 35px;
    height: 40px;
}

.contact-section2 input[type=text],
.contact-section2 input[type=tel],
.contact-section2 input[type=email],
.contact-section2 textarea {
    width: 100%;
    max-width: 500px;
    border: none; 
    border-bottom: 1px solid #ccc; 
    color: #e85631;
    font-size: 16px;
    margin: 20px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: proximanovasemibold_0, Arial, Helvetica, sans-serif;
    resize: none;
    background-color: transparent;
    height: 40px;
    transition: border-bottom-color 0.3s; 
}


.contact-section2 input[type=text]:focus,
.contact-section2 input[type=tel]:focus,
.contact-section2 input[type=email]:focus,
.contact-section2 textarea:focus {
    border-bottom-color: #e85631; 
    outline: none; 
}

.contact-section2 input[type=text],
.contact-section2 input[type=tel],
.contact-section2 input[type=email],
.contact-section2 textarea {
    position: relative; 
    z-index: 1; 
}


.image-container {
    position: relative;
    z-index: 0; 
}



.submit-btn {
    position: absolute;
    z-index: 999;
    background: #000000a8;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 20px;
    bottom: 14px;
}

.contact-button-link {
    display: none;
}

input[type=submit] {
    width: 100%;
    max-width: 200px;
    border: 2px solid #e85631;
    background: #e85631;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 15px 0;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.contact-section2 .address {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}

.contact-section2 .address h4 {
    font-size: 24px;
    text-align: left;
    font-family: sans-serif;
    line-height: 35px;
    color: #000;
    font-weight: 400;
    margin: 0 auto;
}

.contact-div1 .contact-body1 input[type=text]:focus,
.contact-div1 .contact-body1 input[type=tel]:focus,
.contact-div1 .contact-body1 input[type=email]:focus,
.contact-div1 .contact-body1 textarea:focus {
    border-color: #e85631;
}

.success-message {
    border: 2px solid green;
    position: absolute;
    top: -55px;
    padding: 6px;
    left: 100px;
}

.custom-file-upload {
    display: inline-block;
    position: relative;
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  
  .upload-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    gap: 12px;
  }
  
  .upload-icon {
    margin-right: 8px;
    display: none;
  }
  
  .uploaded-file-name {
    margin-top: 8px;
  }
  
  .upload-icon-container img {
  width: 29px;
    transform: scaleX(-1);
  }

  .upload-icon-container p {
   font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 700;
    outline: 0;
    color: #8080809c;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
  }

@media only screen and (max-width: 767px) {
    .contact-content1 h1 {
        width: 90%;
        margin-left: 5%;
    }

    .contact-content1 p {
        width: 90%;
    }

    .contact-div1 {
        width: 100%;
        margin: 0;
    }

    .contact-div1 .contact-body1 input[type=text],
    .contact-div1 .contact-body1 textarea {
        width: 278px;
    }

    .submit-btn {
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }

    .contact-section2 .address {
        width: 100%;
        float: none;
        position: relative;
        margin-top: 20px;
    }

    .contact-section2 .address h4 {
        font-size: 20px;
        line-height: 27px;
        padding: 10px;
    }

    input[type=submit] {
        margin: 10px;
        width: 130px;
    }

    .contact-body1 p {
        padding: 10px;
    }
}
