.technology-container {
  width: 100%;
  position: relative;
  margin: 105px auto 0;
  padding: 0;
}

.technology-section1 {
  background-color: #f8f0e4;
  background-image: url(../images//arcgatelab.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 104px 0 40px;
  overflow: hidden;
  text-align: center;
}

.technology-content1 {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.technology-content1 img {
  position: absolute;
  left: -15%;
  top: -26%;
  width: 317px;
}

.technology-content1 .technology-div1 {
  float: right;
  text-align: left;
  width: 100%;
  max-width: 737px;
  position: relative;
  padding: 0 10px;
}



.technology-content1 .technology-div1 h2 {
  text-align: inherit;
  color: #1a171b;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  width: 82%;
  line-height: 1.09em;
  float: left;
  margin-bottom: 22px;
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
}

.technology-content1 .technology-div1 p {
  font-size: 24px;
  line-height: 1.25em;
  width: 92%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin-bottom: 26px;
}

.technology-section2 {
  background: rgba(164, 163, 150, .2);
  padding: 52px 0;
  text-align: center;
  display: block;
  height: 800px;
}

.technology-content2 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.technology-content2 h2 {
  margin-bottom: 22px;
  width: 74%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: 1.08em;
  font-size: 36px;
  color: #373435;
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.technology-content2 center p {
  line-height: normal;
  font-size: 24px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin-bottom: 22px;
}

.technology-content2 .technology-div2 {
  text-align: center;
  max-width: 1071px;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.row3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.technology-section3 {
  padding: 52px 0 60px;
}

.technology-content3 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.technology-content3 h2 {
  margin-bottom: 22px;
  font-size: 36px;
  color: #373435;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: center;
  font-weight: 400;
  margin: 0 auto;
}

.technology-content3 center {
  margin-bottom: 74px;
}

.technology-content3 center p {
  width: 80%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: normal;
  font-size: 24px;
}

.technology-div3 {
  text-align: center;
  width: 1200px;
}

.technology-div3 .technology-body {
  margin: 0 9px 50px;
  text-align: center;
  display: inline-block;
}

.technology-div3 .technology-body .rounded-box1 {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  background-color: #f19168;
}

.technology-div3 .technology-body .rounded-box1 p {
  font-size: 142%;
  line-height: 120%;
  text-align: center;
  width: 70%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin: 0 auto;
}

.technology-div3 .technology-body p {
  font-size: 1.3rem;
}

.technology-div3 .technology-body .rounded-box2 {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  background-color: #82c5bc;
}

.technology-div3 .technology-body .rounded-box2 p {
  font-size: 142%;
  line-height: 120%;
  text-align: center;
  width: 70%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin: 0 auto;
}

.technology-div3 .technology-body .rounded-box3 {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  background-color: #a4a397;
}

.technology-div3 .technology-body .rounded-box3 p {
  font-size: 142%;
  line-height: 120%;
  text-align: center;
  width: 70%;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  margin: 0 auto;
}

.technology-div3 .technology-body .rounded-box4 {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  height: 250px;
  background-color: #fbc861;
}

.technology-div3 .technology-body .rounded-box4 p {
  font-size: 142%;
  line-height: 120%;
  text-align: center;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  width: 70%;
  margin: 0 auto;
}



.technology-div2 .data-process {
  margin-top: 20px;
  width: 546px;
}

.technology-div2 .data-process1 {
  margin-top: 20px;
}

.technology-div2 .data-process h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: 1.08em;
  text-align: center;
  font-weight: 400;
}

.technology-div2 .data-process-type1 {
  opacity: 1;
  max-width: 242px;
  margin: 0 0 30px;
  display: inline-block;
  margin: 0 7px 61px;
  width: 230px;
}

.technology-div2 .data-process-type1 a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-decoration-line: none;
  color: black;
}

.technology-div2 .data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image2 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image3 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}


.technology-div2 .data-process-image4 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image5 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image6 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}


.technology-div2 .data-process-image7 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image8 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}

.technology-div2 .data-process-image9 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  max-width: 72px;
  margin: 10px;
  width: 100%;
  padding: 0px;
}


.technology-div2 .data-process-image2 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image3 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}


.technology-div2 .data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 113px;
  max-width: 116px;
  margin: 10px;
}

.technology-div2 .data-process-image4 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image5 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image6 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image7 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image8 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}

.technology-div2 .data-process-image9 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-width: 79px;
  margin: 10px;
}


.technology-div2 .data-process-text {
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  line-height: normal;
  font-size: 17px;
  font-weight: 700;
  width: 204px;

}

.technology-div2 .data-process-text1 {
  margin-left: 30px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.technology-div2 .data-process-text2 {
  margin-left: 0px;
  text-align: center;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
}

.technology-div2 .data-process-type1 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.technology-div2 .data-process-type1 img {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  max-width: 86px;
}

.technology-div2 .data-process1 {
  display: flex;
  margin-top: 25px;
  text-align: center;
  max-width: 1000px;
  width: 100%;
}

.technology-div2 .left-border h2 {
  font-size: 30px;
  margin-bottom: 45px;
  line-height: 1.08em;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-align: center;
  font-weight: 400;
}

.technology-div2 .data-process-type2 {
  opacity: 1;
  max-width: 162px;
  margin: 0 0 30px;
}

.technology-div2 .data-process-type2 a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  text-decoration-line: none;
  color: black;
}


.technology-div2 .data-process-type2 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  padding: 5px
}

.technology-div2 .data-process-type2 span {
  line-height: normal;
  font-size: 15px;
}

.technology-div2 .row1 {
  display: flex;
  gap: 42px;
}



@media only screen and (max-width: 480px) {
  .technology-section1 {
    padding: 20px 0;
  }

  .technology-section1 .technology-content1 img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
    object-fit: cover;
    width: auto;
    height: 120%;
  }

  .technology-section1 .technology-div1 h2 {
    font-size: 24px;
    margin-left: 42px;
  }

  .technology-section1 .technology-div1 p {
    font-size: 18px;
    margin-left: 42px;
  }
}

@media only screen and (max-width: 767px) {


  .technology-container {
    padding: 0px;
    margin: 0;
  }

  .technology-content2 .technology-div2 {
    margin-left: 0px;
  }

  .technology-content2 center p {
    font-size: 15px;
    width: 88%;
  }

  .technology-content1 img {
    left: auto;
    top: auto;
    width: 100%;
    max-width: none;
  }


  .technology-content3 center p {
    font-size: 18px;
  }


  .technology-div3 .technology-body .rounded-box1 {
    width: 176px;
    height: 167px;
  }

  .technology-div3 .technology-body .rounded-box1 p {
    font-size: 17px;
  }

  .technology-div3 .technology-body .rounded-box2 {
    width: 176px;
    height: 167px;
  }

  .technology-div3 .technology-body .rounded-box2 p {
    font-size: 17px;
  }

  .technology-div3 .technology-body .rounded-box3 {
    width: 176px;
    height: 167px;
  }

  .technology-div3 .technology-body .rounded-box3 p {
    font-size: 17px;
  }

  .technology-div3 .technology-body .rounded-box4 {
    width: 176px;
    height: 167px;
  }

  .technology-div3 .technology-body .rounded-box4 p {
    font-size: 17px;
  }

  .technology-div3 .technology-body {
    margin: 0 10px;
  }

  .technology-content1 .technology-div1 {
    width: 100%;
    padding: 0 20px;
  }

  .technology-section2 {
    height: auto;
    padding: 20px 0;
  }

  .technology-div2 {
    margin-left: 0;
  }
}
