.image-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.image-section1 {
    background-image: url(../images/blog_header_bg\ \(1\).png);
    background-color: #ddd1c6;
}

.image-content1 {
    padding: 128px 0 50px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90));
}

.image-content1 .image-div1 {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.image-content1 .image-div1 h1 {
    font-size: 36px;
    text-align: center;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
}

.image-content1 .image-div1 p {
    width: 80%;
    color: #fff;
    font-size: 22px;
    font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
    margin-bottom: 24px;
    line-height: 1.18em;
    text-align: center;
}

.image-section2 {
    background-color: #fff;
    height: 206rem;
}

.image-div2 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.image-div2 .image {
    position: relative;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
}

.image .image-container1 {
    transition-delay: 100ms;
    left: 0px;
    top: 0px;
    display: inline-block;
    margin: 39px 0 -83px -53px;
    max-width: 429px;
    vertical-align: top;
    width: 100%;
}

.image .image-container1 .image-content2 {
    margin: 0;
    overflow: hidden;
}

.image-container1 .image-content2 a {
    display: inline-block;
    vertical-align: top;
    width: inherit;
}

.image .image-container1 .image-content2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-section-button {
    background-color: rgb(209, 209, 209);
}

.image-content-button .button1 {
    padding: 16px;
    font-size: 15px;
    font-weight: 700px;
    color: black;
    text-decoration: none;
    background-color: rgb(209, 209, 209);
    border: #ddd1c6;
    text-align: center;
    padding-right: 30px;
}

.image-content-button .button2 {
    padding: 16px;
    font-size: 15px;
    font-weight: 700px;
    color: black;
    text-decoration: none;
    background-color: rgb(209, 209, 209);
    border: #ddd1c6;
    text-align: center;
}


.image-content-button button:hover {
    color: white;
}

.image-content-button .button1:active {
    background-color: #fff;
    color: #000;
}

.image-content-button .button2:active {
    background-color: #fff;
    color: #000;
}

.image-content-button .button1:focus {
    background-color: #fff;
    color: #000;
}

.image-content-button .button2:focus {
    background-color: #fff;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-container button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Style for the arrow images */
.button-container img {
    width: 30px; /* Adjust the width as needed */
    height: auto;
}


@media only screen and (max-width: 768px) {
    .image .image-container1 {
        margin: 0;
    }
}
