.blogView-container {
  width: 100%;
  margin: 105px auto;
  position: relative;
  padding: 0;
}

.blogView-section1 {
  padding: 100px 0;
  background: #ddd1c6 url(../src//images/blog_header_bg.png) 0 0 repeat-x;
  background-position: center center;
}

.blogView-content1 {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.blogView-section2 {
  padding: 45px 0;
}

.blogView-div2 {
  width: 100%;
  max-width: 1071px;
  margin: 0 auto;
}

.blogView {
  text-align: center;
}

.blogView .blogView-container1 {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0px -25px 0px 0;
  max-width: 382px;
}

.blogView .blogView-container1 .blogView-content2 {
  max-height: 321px;
  margin: 20px 0 0;
  width: 100%;
  overflow: hidden;
  background: #fff;

}

.blogView .blogView-container1 .blogView-content2 a {
  display: inline-block;
  vertical-align: top;
  width: inherit;
}

.blogView .blogView-container1 .blogView-content2 .blogView-div {
  display: block;
  /* margin-right: 38px; */
  padding: 29px;
}


.blogView .blogView-container1 .blogView-content2 .blogView-div img {
  width: 100%;
}

.blogView-content2 .thumb-blogView {
  display: none;
}

.blogView-content2 .thumb-blogView p {
  padding: 5px 10px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  vertical-align: middle;
  line-height: 20px;
  transition: padding-top .4s;
  clear: both;
  display: inline-block;
  padding: 3px 10px 0;
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  color: #fff;
}
