header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  background-color: #fff;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 5px -3px rgba(0, 0, 0, .24);
}

.header-container {
  display: block;
}

.header-content {
  border: 0px solid #f00;
  font-size: 16px;
  text-align: left;
  background: rgb(22, 76, 162);
  background: -moz-radial-gradient(circle, rgba(22, 76, 162, 1) 0%, rgba(10, 25, 49, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(22, 76, 162, 1) 0%, rgba(10, 25, 49, 1) 100%);
  background: radial-gradient(circle, rgba(22, 76, 162, 1) 0%, rgba(10, 25, 49, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#164ca2", endColorstr="#0a1931", GradientType=1);
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content span {
  padding: 2px;
  font-family: proxima nova semibold, Arial, Helvetica, sans-serif !important;
  color: #ffffff;
}

.strong-word {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: 'proxima-nova', sans-serif;
}

.header-content a {
  color: #ffffff;
  padding: 8px 12px;
  border: 3px solid #fff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 10px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  text-transform: uppercase;
  text-decoration: none;
}

.header-content a:hover {
  color: rgb(3, 3, 73);
  background-color: white;
}

.header-content p {
  padding: 2px;
  font-family: "proxima, nova, regular, web font_0,Arial,Helvetica,sans-serif";
  color: #ffffff;
  font-weight: 400;
}


#cancelButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  cursor: pointer;
  border: none;
}

#cancelButton img {
  width: 20px;
  height: auto;
}


.navbar {
  max-width: 1144px;
  height: 56px;
  margin: 0 auto;
}

.navbar-content {
  display: block;
}

.nav li {
  display: inline-block;
  float: left;
  margin: 0 0 0 41px;
  position: relative;
}

.arcgate-logo {
  float: left;
  width: 146px;
  height: 27px;
  background-image: url(./arcgate-orange.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  position: relative;
  top: 15px;
}

.podcast-logo {
  width: 94%;
  position: absolute;
  padding: 10px;
}

.podcast-logo img {
  width: 12%;
  margin-left: -65px;
}

.blog-logo {
  position: absolute;
  width: 53%;
  padding: 10px;
}

.blog-logo img {
  width: 12%;
}

.arcgate-logo a {
  display: inherit;
  width: inherit;
  height: inherit;
}

section nav ul li a {
  font-size: 14px;
  color: #868572;
  text-align: left;
  text-decoration-line: none;
}

.navbar nav ul li a:hover {
  color: orangered;
}

section nav ul li {
  display: inline-block;
  float: left;
  margin: 0 0 0 41px;
  position: relative;
}

section nav ul {
  list-style: none;
}

header section nav {
  float: right;
  position: relative;
  top: 8px;
}

.navbar .nav li.active a {
  color: orangered;
}

header>section {
  width: 100%;
  max-width: 1144px;
  padding: 0 10px;
  height: 56px;
  margin: 0 auto;
}

.home-logo {
  display: inline-block;
  float: left;
  margin: 0 0 0 41px;
  position: relative;
}

.home-logo a {
  font-size: 14px;
  color: #868572;
  text-align: left;
  text-decoration: none;
}


.home-logo a:hover {
  color: orangered;
}

.home-logo.active a {
  color: orangered;
}

.down-arrow {
  background-image: url(../src//images/angle-arrow-down.png);
  background-size: 70%;
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
  display: inline-block;
  background-position: center center;
  top: 1px;
  left: 3px;
  position: relative;
  cursor: pointer;
}

.bpo-dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 141%;
  left: -216px;
  box-shadow: 10px 0px 15px 10px rgba(0, 0, 0, .24);
  z-index: 1;
  height: 325px;
  width: 587px;

}


.industries-dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 140%;
  left: -216px;
  box-shadow: 10px 0px 15px 10px rgba(0, 0, 0, .24);
  z-index: 1;
  width: 516px;
  height: 287px;
}

.insight-dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 17px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 140%;
  left: -216px;
  box-shadow: 10px 0px 15px 10px rgba(0, 0, 0, .24);
  z-index: 1;
  height: 174px;
}

.data-process-image,
.data-process-text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 10px;
}


.bpo-dropdown .nav-button button {
  position: absolute;
  top: 329px;
  border: none;
  background: white;
  left: 243px;
  font-size: 15px;
}

.bpo-dropdown .nav-button button {
  position: absolute;
  top: 283px;
  border: none;
  background: white;
  left: 41px;
  border-top: 1px solid #80808061;
  font-size: 15px;
  line-height: 40px;
  width: 493px;
}

.active {
  color: red;
}

.nav-button button:hover {
  color: #f00;
}

.bpo-dropdown .data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin: 10px;
  margin-left: 5px;
}

.bpo-dropdown .data-process-image1 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -26px;
  /* margin: 10px; */
  margin-left: 3px;
}

.bpo-dropdown .data-process-image2 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -23px;
  margin-left: 6px;
}

.bpo-dropdown .data-process-image3 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -24px;
  margin-left: 5px;

}

.bpo-dropdown .data-process-image img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.bpo-dropdown .data-process-image img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.bpo-dropdown .data-process-image1 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.bpo-dropdown .data-process-image1 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.bpo-dropdown .data-process-image2 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.bpo-dropdown .data-process-image2 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.bpo-dropdown .data-process-image3 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.bpo-dropdown .data-process-image3 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.bpo-dropdown span {
  line-height: normal;
  font-size: 15px;
}

.bpo-dropdown .data-process-text {
  line-height: normal;
  font-size: 13px;
  text-align: center;
  font-family: sans-serif;
  color: #0000009c;
  font-weight: 100;
  margin-left: -38px;
}

.industries-dropdown .nav-button button {
  position: absolute;
  top: 243px;
  border: none;
  background: white;
  left: 4px;
  border-top: 1px solid #80808061;
  font-size: 15px;
  line-height: 40px;
  width: 509px;
}

.industries-dropdown .nav-button button:hover {
  color: #f00;
}

.insight-dropdown .data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  max-width: 60px;
  margin: 10px;
}


.insight-dropdown .data-process-text1 {
  margin-left: 17px;
}

.industries-dropdown .data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin: 10px;
  margin-top: -1px;
}


.industries-dropdown .data-process-image1 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -5px;
  margin-left: 10px;

}

.industries-dropdown .data-process-image2 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -5px;
  margin-left: 10px;
}

.industries-dropdown .data-process-image3 {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin-top: -5px;
  margin-left: 10px;
}


.industries-dropdown .data-process-image img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.industries-dropdown .data-process-image img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}


.industries-dropdown .data-process-image1 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.industries-dropdown .data-process-image1 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.industries-dropdown .data-process-image2 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.industries-dropdown .data-process-image2 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.industries-dropdown .data-process-image3 img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.industries-dropdown .data-process-image3 img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}


.industries-dropdown span {
  line-height: normal;
  font-size: 15px;
}

.industries-dropdown .data-process-text {
  line-height: normal;
  font-size: 13px;
  text-align: center;
  font-family: sans-serif;
  color: #0000009c;
  font-weight: 100;
  margin-left: -33px;
}


.insight-dropdown .nav-button button {
  position: absolute;
  top: 329px;
  border: none;
  background: white;
  left: 243px;
  font-size: 15px;
}

.insight-dropdown .nav-button button {
  position: absolute;
  top: 131px;
  border: none;
  background: white;
  left: 10px;
  border-top: 1px solid #80808061;
  font-size: 15px;
  line-height: 40px;
  width: 274px;
}

.insight-dropdown.nav-button button:hover {
  color: #f00;
}

.insight-dropdown.data-process-image {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, .12);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  max-width: 63px;
  margin: 10px;
}


.insight-dropdown.data-process-image img {
  margin: 7px auto;
  max-width: 55px;
  display: block;
}

.insight-dropdown .data-process-image img {
  margin: 7px auto;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  background: none;
  padding: 5px;
  width: 35px;
  height: 95px;
}

.insight-dropdown span {
  line-height: normal;
  font-size: 15px;
}

.insight-dropdown .data-process-text {
  line-height: normal;
  font-size: 13px;
  text-align: center;
  font-family: sans-serif;
  color: #0000009c;
  font-weight: 100;
}



#cancelButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#cancelButton img {
  width: 20px;
  height: auto;
}

.toggle-button {
  display: none;
}

.bpo-dropdown .data-process-text:hover {
  color: #f00;
}

.industries-dropdown .data-process-text:hover {
  color: #f00;
}

.insight-dropdown .data-process-text:hover {
  color: #f00;
}
